<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Salvajes</title>
    <link rel="stylesheet" href="{{ asset("bundles/app/css/style-icons.css") }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/base-styles.css') }} ">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/fonts.css') }}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <header class="header">

        <div class="header_wrap">
            <div>
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('bundles/app/images/salvajes.png') }}" class="logo-img"/>
                </a>
                <button onclick="window.location.href='{{ path('projects') }}'" class="button">Proyectos</button>
                <button onclick="window.location.href='{{ path('what_we_offer') }}'" class="button">Que ofrecemos</button>
                <button onclick="window.location.href='{{ path('packages') }}'" class="button">Paquetes</button>
                <button onclick="window.location.href='{{ path('promos') }}'" class="button">Promociones</button>
                <button onclick="window.location.href='{{ path('how_to_buy') }}'" class="button">Como Comprar</button>
                <button onclick="window.location.href='{{ path('blog') }}'" class="button">Blog</button>
                <button onclick="window.location.href='{{ path('contact') }}'" class="button">Contacto</button>
                <button onclick="window.location.href='{{ path('about_us') }}'" class="button">Nosotros</button>
            </div>
            <ul class="header_social_list">
                <li class="header_social_list_li"><span class="icon icon-facebook2"></span></li>
                <li class="header_social_list_li"><span class="icon icon-twitter"></span></li>
                <li class="header_social_list_li"><span class="icon icon-instagram"></span></li>
            </ul>
        </div   >

    </header>
    <main class="main">
        {% block main %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="container footer_container">
            <span class="company">Salvajes SA de CV &copy; 2016</span>
        </div>
    </footer>

    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/parallax.min.js') }}"></script>
    <script>

    </script>
    {% block script %}
    {% endblock %}
</body>
</html>