<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Salvajes</title>
    <link rel="stylesheet" href="{{ asset("bundles/app/css/style-icons.css") }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/base-styles.css') }} ">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/fonts.css') }}">
    {% block styles %}
    {% endblock %}
</head>
<body>
    <header class="header navbar-fixed-top">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <a href="{{ path('homepage') }}">
                                <img src="{{ asset('bundles/app/images/salvajes.png') }}" class="logo-img"/>
                            </a>
                            <button onclick="window.location.href='{{ path('blog') }}'" class="button">Blog</button>
                            <button onclick="window.location.href='{{ path('contact') }}'" class="button">Contacto</button>
                            <button onclick="window.location.href='{{ path('about_us') }}'" class="button">Nosotros</button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button type="button" class="button" data-toggle="modal" data-target="#signModal">
                                Registro
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="modal fade" id="signModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">Registro</h4>
                </div>
                <div class="modal-body">
                    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
                </div>
                <div class="modal-footer">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <main class="main">
        {% block main %}
        {% endblock %}
    </main>
    <footer class="footer ">
        <div class="wrapper">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <ul>
                                <li><a href="{{ path('homepage') }}">Home</a></li>
                                <li><a href="{{ path('blog') }}">Blog</a></li>
                                <li><a href="{{ path('contact') }}">Contácto</a></li>
                                <li><a href="{{ path('about_us') }}">Nosotros</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 text-center">
                            <ul>
                                <li><a href="#">Preguntas frecuentes</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 text-right">
                            <span class="newsletters-label">Suscribete</span>
                            <div class="newslatter">
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12">

                            <div class="copyright text-center">
                                <span class="company">Salvajes SA de CV &copy; 2016</span>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 text-center">
                                    <div class="footer-social text-center">
                                        <ul class="footer_social_list">
                                            <li class="header_social_list_li"><span class="icon icon-facebook2"></span></li>
                                            <li class="header_social_list_li"><span class="icon icon-twitter"></span></li>
                                            <li class="header_social_list_li"><span class="icon icon-instagram"></span></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>

    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.5&appId=557455224416615";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    {% block script %}
    {% endblock %}
</body>
</html>