<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>Salvajes</title>
    <link rel="stylesheet" href="{{ asset("bundles/app/css/style-icons.css") }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/base-styles.css') }} ">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/fonts.css') }}">

</head>
<body>
    <header class="header">
        <div class="header_wrap">
            <div class="center">
                <a href="{{ path('homepage') }}">
                    <img src="{{ asset('bundles/app/images/salvajes.png') }}" class="logo-img"/>
                </a>
                <button onclick="window.location.href='{{ path('blog') }}'" class="button">Blog</button>
                <button onclick="window.location.href='{{ path('about_us') }}'" class="button">Nosotros</button>
                <button id="signButton" type="button" class="button" data-toggle="modal" data-target="#signModal">
                    Registro
                </button>
                <button onclick="window.location.href='{{ path('location') }}'" class="button">Ubicaci&oacute;n</button>
            </div>
        </div>
    </header>

    <div class="modal fade" id="signModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                    <h4 class="modal-title">Registro</h4>
                </div>
                <div class="modal-body">
                    <div class="fb-login-button" data-max-rows="1" data-size="medium" data-show-faces="false" data-auto-logout-link="false"></div>
                </div>
                <div class="modal-footer">

                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <main class="main">
        {% block main %}
        {% endblock %}
    </main>
    <footer class="footer">
        <div class="footer_row">
            <div class="footer_column">
                <ul>
                    <li><a href="{{ path('homepage') }}">Home</a></li>
                    <li><a href="{{ path('blog') }}">Blog</a></li>
                    <li><a href="{{ path('contact') }}">Contácto</a></li>
                    <li><a href="{{ path('about_us') }}">Nosotros</a></li>
                </ul>
            </div>
            <div class="footer_column">
                <ul>
                    <li><a href="#">Preguntas frecuentes</a></li>
                </ul>
            </div>
            <div class="footer_column">
                <span class="newsletters-label">Suscribete</span>
                <div class="newslatter">
                    <input type="text">
                </div>
            </div>
        </div>
        <div class="footer_row">
            <span class="company">Salvajes SA de CV &copy; 2016</span>
            <ul class="header_social_list">
                <li class="header_social_list_li"><span class="icon icon-facebook2"></span></li>
                <li class="header_social_list_li"><span class="icon icon-twitter"></span></li>
                <li class="header_social_list_li"><span class="icon icon-instagram"></span></li>
            </ul>
        </div>
    </footer>

    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>

    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.5&appId=557455224416615";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <script>
        $("#signButton").click(function(){
            $("#signButton").css("border","transparent");
        });
    </script>

    {% block script %}
    {% endblock %}
</body>
</html>