<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nosotros</title>
    <link rel="stylesheet" href="{{ asset("bundles/app/css/style-icons.css") }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
    <script src="{{ asset('bundles/app/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/parallax.min.js') }}"></script>
    <style>
        html, body{
            padding: 0;
            margin: 0;
            font-size: 16px;
        }
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }
        .icon {
            font-size: 1.5rem;
        }
        .icon:hover {
            cursor: pointer;
            color: rgba(51,51,51, 0.54);
        }

        .glyphicon-home:hover {
            color: #00A896;
        }
        .glyphicon-heart:hover {
            color: red;
        }
        .glyphicon-sunglasses:hover {
            color: black;
        }
        .glyphicon-book:hover {
            color: blue;
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            top: 0;
            left: 0;
            background-color: rgba(51, 51, 51, 0.84);
            overflow-x: hidden;
            -webkit-transition: 0.5s;
            -moz-transition: 0.5s;
            -ms-transition: 0.5s;
            -o-transition: 0.5s;
            transition: 0.5s;
        }
        .sidenav_list {
            display: flex;
            flex-direction: column;
        }
        .sidenav_list_li {
            font-size: 1.3rem;
            color: white;
            border-radius: 3px;
            margin: 6px;
            padding: 5px;
        }
        .sidenav_list_li:hover {
            cursor: pointer;
            background-color: rgba(0, 168, 150, 0.84);

        }
        .li-icon {
            margin-right: 10px;
        }
        .main {
            -webkit-transition: margin-left 0.5s;
            -moz-transition: margin-left 0.5s;
            -ms-transition: margin-left 0.5s;
            -o-transition: margin-left 0.5s;
            transition: margin-left 0.5s;
        }
        .header {
            padding: 10px;
            height: 60px;
            background-color: #00A896;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
        .header_logo {
            display: flex;
            align-items: center;
            flex-grow: 3;
        }
        .logo {
            margin-left: 10px;
            font-size: 2rem;
            font-family: "Helvetica"
        }
        .header_social {
            flex-grow: 1;
        }
        .header_social_list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .header_social_list_li {
            cursor: pointer;
        }
        #svg {
            color: red;
        }
        .container{
            height: 300px;
        }
        .parallax-container{
            height: 600px;

        }
    </style>
</head>
<body>
    <nav class="sidenav">
        <ul class="sidenav_list">
            <li class="sidenav_list_li"><span class="li-icon icon-home"></span>Home</li>
            <li class="sidenav_list_li"><span class="li-icon icon-heart"></span>Nosotros</li>
            <li class="sidenav_list_li"><span class="li-icon icon-headphones"></span>Productos</li>
            <li class="sidenav_list_li"><span class="li-icon icon-book"></span>Blog</li>
        </ul>
    </nav>

    <main class="main">
        <header class="header">
            <div class="header_logo">
                <span class="header_hamburger icon icon-menu"></span>
                <span class="logo">
                    Salvajes
                </span>
            </div>
            <div class="header_social">
                <ul class="header_social_list">
                    <li class="header_social_list_li"><span class="icon icon-facebook2"></span></li>
                    <li class="header_social_list_li"><span class="icon icon-twitter"></span></li>
                    <li class="header_social_list_li"><span class="icon icon-instagram"></span></li>
                </ul>
            </div>
        </header>
        <div class="title">Quiénes somos?</div>
        <section>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Cupiditate deleniti dignissimos dolor eius, fugit magnam obcaecati quod velit.
            Ad amet ea harum neque non praesentium reiciendis ullam vitae! Incidunt, vitae.
        </section>
        <div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10"
             data-image-src="{{ asset('bundles/app/images/tacos.jpg') }}" data-natural-width="1400"
             data-natural-height="900">
        </div>
        <section>
            <div class="container">
                <h1>Los tacos dan mas energia que los hamsters, <small>(se venden hamster por separado)</small></h1>
            </div>
        </section>

        <div class="parallax-container" data-parallax="scroll" data-position="top" data-bleed="10"
             data-image-src="{{ asset('bundles/app/images/hamster.jpg') }}" data-natural-width="1400"
             data-natural-height="900">
        </div>
    </main>

    <script src="{{ asset('bundles/app/js/jquery-1.12.0.min.js') }}"></script>
    <script>
        function openNav() {
            $(".sidenav").css({"width": "240px"});
            $(".main").css({"margin-left": "240px"});
            $(".parallax-container").css({"margin-left": "240px"});
            $(".container").css({"margin-left": "240px"})
        }
        function closeNav() {
            $(".sidenav").css({"width": "0px"});
            $(".main").css({"margin-left": "0px"});
            $(".parallax-container").css({"margin-left": "0px"});
            $(".container").css({"margin-left": "0px"})
        }
        $(document).ready(function(){
            isOpen = false;
            $(".icon-menu").click(function(){
                if(!isOpen) {
                    openNav();
                    isOpen = true;
                } else {
                    closeNav();
                    isOpen = false;
                }

            })
        });
    </script>
</body>
</html>