{% extends "AppBundle::base.html.twig" %}

{%  block main %}

    <link rel="stylesheet" href="{{ asset('bundles/app/css/leaflet.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/leaflet.label.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/MarkerCluster.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/MarkerCluster.Default.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/map-style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/leaflet-search.css') }}">

    <div id="mapCanvas"></div>

    {{ address }} y caca


{% endblock %}

{% block script %}

    <script src="{{ asset('bundles/app/js/leaflet.js') }}"></script>
    <script src="{{ asset('bundles/app/js/leaflet.label.js') }}"></script>
    <script src="{{ asset('bundles/app/js/leaflet.markercluster-src.js') }}"></script>
    <script src="{{ asset('bundles/app/js/leaflet-search.js') }}"></script>

    <script>

        /**
         * Mapa.
         */
        var map;
        var tile;


        $(document).ready(function(){

            /**
             * Inicializa mapa.
             */
            map  = L.map('mapCanvas').setView([23.1283279, -101.6752951], 4 );

            tile = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            var marker = new L.marker(
                    [23.1283279, -101.6752951],
                    {draggable: true}
            ).addTo(map);

            var search = new L.Control.Search({
                url: 'http://nominatim.openstreetmap.org/search?format=json&q={s}',
                jsonpParam: 'json_callback',
                propertyName: 'display_name',
                propertyLoc: ['lat','lon'],
                circleLocation: false,
                markerLocation: false,
                autoType: false,
                autoCollapse: true,
                minLength: 2,
                zoom:10,
                textPlaceholder: 'Buscar...'
            });

            map.addControl(search);
        });


    </script>

{% endblock %}