{% extends "AppBundle::base.html.twig" %}

{%  block main %}

    <link rel="stylesheet" href="{{ asset('bundles/app/css/leaflet.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/leaflet.label.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/MarkerCluster.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/MarkerCluster.Default.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/map-style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/app/css/leaflet-search.css') }}">

    <div id="mapCanvas">
        <div id="ghost" class="ghost"></div>
    </div>

{% endblock %}

{% block script %}

    <script src="{{ asset('bundles/app/js/leaflet.js') }}"></script>
    <script src="{{ asset('bundles/app/js/leaflet.label.js') }}"></script>
    <script src="{{ asset('bundles/app/js/leaflet.markercluster-src.js') }}"></script>
    <script src="{{ asset('bundles/app/js/leaflet-search.js') }}"></script>
    <script src="{{ asset('bundles/app/js/map.control.js') }}"></script>

    <script>

        {# Variables para Mapa. #}
        var map;
        var tile;

        {# Variable para crear un poligono. #}
        var polygons = new Polygons();

        function distance(lat,lng){
            $.ajax({
                url:'{{ path('distance_between_points') }}',
                data: {lat:lat,lng:lng},
                type: 'post',
                success: function(data){
                    console.log(data);
                }
            });
        }

        $(document).ready(function(){

            {# Inicializa el mapa. #}
            map  = L.map('mapCanvas').setView([23.1283279, -101.6752951], 4 );

            tile = L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18,
                attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);

            {# Crea el marker con el cual se ubicara la posicion. #}
            var marker = new L.marker(
                    [23.1283279, -101.6752951],
                    {draggable: true}
            ).addTo(map);

            {# Crea el controlador de busqueda. #}
            var search = new L.Control.Search({
                url: 'http://nominatim.openstreetmap.org/search?format=json&q={s}',
                jsonpParam: 'json_callback',
                propertyName: 'display_name',
                propertyLoc: ['lat','lon'],
                circleLocation: false,
                markerLocation: false,
                autoType: false,
                autoCollapse: true,
                minLength: 2,
                zoom:10,
                textPlaceholder: 'Buscar...'
            });

            map.addControl(search);

            {# Maneja la latitud y longitud del punto obtenido en la busqueda. #}
            search.on('search_locationfound', function(e) {
                latitude = e.latlng.lat;
                longitude = e.latlng.lng;
                marker.setLatLng([Number(latitude), Number(longitude)]);
                map.setView([Number(latitude), Number(longitude)], 15);
                polygons.createLatLngPolygon(latitude,longitude,1000);
                distance(Number(latitude),Number(longitude));
                console.log(Number(latitude),Number(longitude));
            });

            {# Mueve el marker a la posicion deseada. #}
            marker.on('dragend', function(e){
                latitude = this.getLatLng().lat;
                longitude =this.getLatLng().lng;
                polygons.createLatLngPolygon(latitude,longitude,1000);
                distance(Number(latitude),Number(longitude));
                console.log(Number(latitude),Number(longitude));
            });

        });


    </script>

{% endblock %}