{% extends "AppBundle::base.html.twig" %}

{%  block main %}

    <link rel="stylesheet" href="{{ asset('bundles/app/css/index-styles.css') }}">

    <div>
        <img class="food" src="{{ asset('bundles/app/images/comida-mexicana.jpg') }}">
        <img class="arrow" src="{{ asset('bundles/app/images/arrow.png') }}">
        <img class="arrow180" src="{{ asset('bundles/app/images/arrow.png') }}">
        <span class="image-font">Encuentra tu ubicaci&oacute;n aproximada</span>
        <img class="tomato" src="{{ asset('bundles/app/images/tomato.png') }}">
    </div>


{% endblock %}
{% block script %}

    <script>

        $(document).ready(function(){

            $(".tomato").on('click',function(){
                window.location.href='{{ path('location') }}';
            });
        });
    </script>

{% endblock %}